<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bld.applets.mapper.AppletsMemberMapper">
    
    <resultMap type="AppletsMember" id="AppletsMemberResult">
        <result property="id"    column="id"    />
        <result property="level"    column="level"    />
        <result property="charge"    column="charge"    />
    </resultMap>

    <sql id="selectAppletsMemberVo">
        select id, level, charge from applets_member
    </sql>

    <select id="selectAppletsMemberList" parameterType="AppletsMember" resultMap="AppletsMemberResult">
        <include refid="selectAppletsMemberVo"/>
        <where>  
            <if test="level != null "> and level = #{level}</if>
            <if test="charge != null "> and charge = #{charge}</if>
        </where>
    </select>
    
    <select id="selectAppletsMemberById" parameterType="Long" resultMap="AppletsMemberResult">
        <include refid="selectAppletsMemberVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppletsMember" parameterType="AppletsMember" useGeneratedKeys="true" keyProperty="id">
        insert into applets_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="level != null">level,</if>
            <if test="charge != null">charge,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="level != null">#{level},</if>
            <if test="charge != null">#{charge},</if>
         </trim>
    </insert>

    <update id="updateAppletsMember" parameterType="AppletsMember">
        update applets_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="level != null">level = #{level},</if>
            <if test="charge != null">charge = #{charge},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppletsMemberById" parameterType="Long">
        delete from applets_member where id = #{id}
    </delete>

    <delete id="deleteAppletsMemberByIds" parameterType="String">
        delete from applets_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>