<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bld.applets.mapper.AppletsFeedbackMapper">
    
    <resultMap type="AppletsFeedback" id="AppletsFeedbackResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="userId"    column="user_id"    />
        <result property="updateTime"    column="updateTime"    />
        <result property="createTime"    column="createTime"    />
    </resultMap>

    <sql id="selectAppletsFeedbackVo">
        select id, content, user_id, updateTime, createTime from applets_feedback
    </sql>

    <select id="selectAppletsFeedbackList" parameterType="AppletsFeedback" resultMap="AppletsFeedbackResult">
        <include refid="selectAppletsFeedbackVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectAppletsFeedbackById" parameterType="Long" resultMap="AppletsFeedbackResult">
        <include refid="selectAppletsFeedbackVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppletsFeedback" parameterType="AppletsFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into applets_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="updateTime != null">updateTime,</if>
            <if test="createTime != null">createTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAppletsFeedback" parameterType="AppletsFeedback">
        update applets_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppletsFeedbackById" parameterType="Long">
        delete from applets_feedback where id = #{id}
    </delete>

    <delete id="deleteAppletsFeedbackByIds" parameterType="String">
        delete from applets_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>