<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bld.applets.mapper.AppletsPilesMapper">
    
    <resultMap type="AppletsPiles" id="AppletsPilesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="chargedState"    column="charged_state"    />
        <result property="addrProvince"    column="addr_province"    />
        <result property="addrCity"    column="addr_city"    />
        <result property="addrDistrict"    column="addr_district"    />
        <result property="addrDetail"    column="addr_detail"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectAppletsPilesVo">
        select id, name, code, type, status, charged_state, addr_province, addr_city, addr_district, addr_detail, longitude, latitude, user_id from applets_piles
    </sql>

    <select id="selectAppletsPilesList" parameterType="AppletsPiles" resultMap="AppletsPilesResult">
        <include refid="selectAppletsPilesVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="chargedState != null "> and charged_state = #{chargedState}</if>
            <if test="addrProvince != null  and addrProvince != ''"> and addr_province = #{addrProvince}</if>
            <if test="addrCity != null  and addrCity != ''"> and addr_city = #{addrCity}</if>
            <if test="addrDistrict != null  and addrDistrict != ''"> and addr_district = #{addrDistrict}</if>
            <if test="addrDetail != null  and addrDetail != ''"> and addr_detail = #{addrDetail}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectAppletsPilesById" parameterType="Long" resultMap="AppletsPilesResult">
        <include refid="selectAppletsPilesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppletsPiles" parameterType="AppletsPiles" useGeneratedKeys="true" keyProperty="id">
        insert into applets_piles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="chargedState != null">charged_state,</if>
            <if test="addrProvince != null">addr_province,</if>
            <if test="addrCity != null">addr_city,</if>
            <if test="addrDistrict != null">addr_district,</if>
            <if test="addrDetail != null">addr_detail,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="chargedState != null">#{chargedState},</if>
            <if test="addrProvince != null">#{addrProvince},</if>
            <if test="addrCity != null">#{addrCity},</if>
            <if test="addrDistrict != null">#{addrDistrict},</if>
            <if test="addrDetail != null">#{addrDetail},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateAppletsPiles" parameterType="AppletsPiles">
        update applets_piles
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="chargedState != null">charged_state = #{chargedState},</if>
            <if test="addrProvince != null">addr_province = #{addrProvince},</if>
            <if test="addrCity != null">addr_city = #{addrCity},</if>
            <if test="addrDistrict != null">addr_district = #{addrDistrict},</if>
            <if test="addrDetail != null">addr_detail = #{addrDetail},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppletsPilesById" parameterType="Long">
        delete from applets_piles where id = #{id}
    </delete>

    <delete id="deleteAppletsPilesByIds" parameterType="String">
        delete from applets_piles where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>