<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bld.applets.mapper.AppletsCollectMapper">
    
    <resultMap type="AppletsCollect" id="AppletsCollectResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="pilesId"    column="piles_id"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateTime"    column="updateTime"    />
        <association property="piles" column="piles_id" select="com.bld.applets.mapper.AppletsPilesMapper.selectAppletsPilesById" />
    </resultMap>

    <sql id="selectAppletsCollectVo">
        select id, user_id, piles_id, createTime, updateTime from applets_collect
    </sql>

    <select id="selectAppletsCollectList" parameterType="AppletsCollect" resultMap="AppletsCollectResult">
        <include refid="selectAppletsCollectVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="pilesId != null "> and piles_id = #{pilesId}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectAppletsCollectById" parameterType="Long" resultMap="AppletsCollectResult">
        <include refid="selectAppletsCollectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppletsCollect" parameterType="AppletsCollect" useGeneratedKeys="true" keyProperty="id">
        insert into applets_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="pilesId != null">piles_id,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="pilesId != null">#{pilesId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAppletsCollect" parameterType="AppletsCollect">
        update applets_collect
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="pilesId != null">piles_id = #{pilesId},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppletsCollectById" parameterType="Long">
        delete from applets_collect where id = #{id}
    </delete>

    <delete id="deleteAppletsCollectByIds" parameterType="String">
        delete from applets_collect where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>